th {
    text-align: left;
}
input {
    width: 150px;

}
input[type=text] {
   
   /* background-color: rgb(236, 235, 235);*/

}

body {

}

i{
    padding-left: 10px;
    padding-top: 20px;
    font-size: 40px;
    color: rgb(6, 94, 79);
}