th {
    text-align: left;
}
table,th,td {
    padding:1em;
    border: 1px solid black;
    border-collapse: collapse;
}

td:nth-child(even) {
    background-color: gray;
}

td:nth-child(even).headField{
    background-color: lightgrey;
}



input {
    width: 100px;
    border:none;
    background-color: inherit;
}


.head {
    background-color: gray;
    font-weight: 700;
}

.headField {
    background-color: lightgrey;
}

#profilepic {
    width: 220px;
}

i{
    padding-left: 10px;
    padding-top: 20px;
    font-size: 40px;
    color: rgb(6, 94, 79);
}